@import "../variables";
button {
    font-family: inherit;
    font-size: 0.9rem;
    padding: 20px 12px;
    min-width: 80px;
    outline: none;
    border: none;
    margin: 4px;
    box-sizing: content-box;
    cursor: pointer;
    transition: background 0.15s ease-out;
    user-select: none;
    &[disabled] {
        cursor: default;
        opacity: 0.5;
    }
    background: $primary;
    color: $primary-fg;
    box-shadow: $box-shadow;
    &.gold {
        background: $gold;
        color: $background;
        &:active {
            background: $gold-active;
        }
    }
    &.blue {
        background: $blue;
        color: $foreground;
        &:active {
            background: $blue-active;
        }
    }
    &:active {
        background: $primary-active;
    }
}