@import "../variables";
button {
    font-family: inherit;
    font-size: 0.9rem;
    color: $textColor;
    padding: 20px 12px;
    min-width: 80px;
    outline: none;
    margin: 4px;
    box-sizing: content-box;
    cursor: pointer;
    transition: background 0.15s ease-out;
    user-select: none;
    background: $secondaryColor;
    border: 1px solid darken($primaryColor, 5%);
    box-shadow: 0 0 6px 0 darken($primaryColor, 10%);
    &:hover:not([disabled]) {
        background: lighten($secondaryColor, 5%);
    }
    &:active:not([disabled]) {
        background: darken($secondaryColor, 15%);
    }
    &[disabled] {
        cursor: default;
        opacity: 0.5;
    }
    &.secondary {
        background: transparent;
        border: 2px solid $secondaryColor;
        box-shadow: 0 0 2px 0 darken($primaryColor, 10%);
        color: rgba($textColor, 0.5);
        &:hover:not([disabled]) {
            background: rgba(lighten($primaryColor, 10%), 0.4);
        }
        &:active:not([disabled]) {
            background: rgba(darken($primaryColor, 5%), 0.4);
        }
    }
}