@import "../variables";
.footer {
    font-family: inherit;
    font-size: 0.9rem;
    outline: none;
    box-sizing: content-box;
    cursor: default;
    background: transparent;
    border: none;
    box-shadow: $box-shadow;
    margin: -4px;
    padding: 16px 12px;
    padding-top: 12px;
    color: $gold;
    text-align: center;
}