@import "./variables";
body,
html {
    background: $primaryColor;
    height: 100%;
    min-height: 100%;
    margin: 0;
}

body {
    color: $textColor;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
    &:fullscreen {
        width: 100%;
    }
    &:-webkit-full-screen {
        width: 100%;
    }
    &:-moz-full-screen {
        width: 100%;
    }
}

#root {
    height: 100%;
    display: flex;
}

%group {
    flex: 1;
    display: flex;
    padding: 4px;
}

.group-v {
    @extend %group;
    flex-flow: column nowrap;
}

.group-h {
    @extend %group;
    flex-flow: row nowrap;
}

