$background: #1d1d1d;
$shadow: #000;
$box-shadow: 0 0 10px 1px $shadow;
$foreground: #ededed;
$primary: #323232;
$primary-active: darken($primary, 5%);
$gold: #dfa84d;
$gold-active: darken($gold, 10%);
$blue: #0c436a;
$blue-active: darken($blue, 5%);
$primary-fg: $gold;
// $colors: ("blue": #05599e, "yellow": #ffcd26, "orange": #ff6f26);